h1(ng-show='mode == "create"') Create release
h1(ng-show='mode == "edit"') Edit "{{release.name}}"
form(
  class='form-horizontal',
  name='create',
  novalidate,
  ng-submit='submit(create.$valid)'
)
  div(class='form-group')
    label(class='control-label col-sm-2') Name
    div(class='col-sm-10')
      input(
        type='text',
        name='name',
        class='form-control',
        placeholder='Release name...',
        required,
        ng-model='release.name',
        ng-minlength=3,
        ng-maxlength=50
      )
      div(
        class='help-block',
        ng-messages='create.releaseName.$error',
        ng-show='create.releaseName.$touched'
      )
        p(ng-message='minlength') Must be at least three characters long
        p(ng-message='maxlength') Must be less than fifty characaters long
        p(ng-message='required') Required
  div(class='form-group')
    label(class='control-label col-sm-2') Release date
    div(class='col-sm-10')
      p(class='input-group')
        input(
          type='text',
          class='form-control',
          uib-datepicker-popup='yyyy-MM-dd',
          ng-model='release.releaseDate',
          is-open='datePickerOpen',
          min-date='minDate',
          max-date='maxDate',
          datepicker-options='dateOptions',
          date-disabled='disabled(date, mode)',
          close-text='Close',
          alt-input-formats='altInputFormats'
        )
        span(class='input-group-btn')
          button(type='button', class='btn btn-default', ng-click='open()')
            i(class='glyphicon glyphicon-calendar')
  div(class='form-group')
    div(class='col-sm-offset-2 col-sm-10')
      button(
        type='submit',
        class='btn btn-primary btn-block',
        ng-disabled='create.$invalid'
      )
        | Save
