div(class='modal-header')
  h3(class='modal-title') Add Diff to {{ ticket.ticketId }}

div(class='modal-body')
  form(
    class='form-horizontal',
    name='addDiff',
    novalidate,
    ng-submit='submit(addDiff.$valid)'
  )
    div(class='form-group')
      label(class='control-label col-sm-2') Phabricator Diff
      div(class='col-sm-10')
        input(
          type='text',
          class='form-control',
          placeholder='D####',
          required,
          ng-model='newDiff.diffId'
        )
    div(class='form-group')
      label(class='control-label col-sm-2') Repo
      div(class='col-sm-10')
        select(ng-model='newDiff.repoName', class='form-control', nq-required)
            option(ng-repeat='repo in repos.slice()', value='{{repo.name}}') {{repo.name}}
div(class='modal-footer')
  button(
    type='button',
    class='btn btn-primary',
    ng-click='submit(addDiff.$valid)',
    ng-disabled='addDiff.$invalid'
  ) Add ticket
  button(class='btn btn-warning', type='button', ng-click='cancel()') Cancel
