div(ng-show="release")
  div(class='row')
    div(class='col-sm-9')
      h1 {{release.name}}
      p(ng-show='release.releaseDate')
        Release date: {{ release.releaseDate | date:'fullDate'  }}
    div(class='col-sm-1')
      a(href='/release/{{release.$id}}/edit', class="btn btn-primary") Edit Release
    div(class='col-sm-1 col-sm-offset-1')
      button(class='btn btn-default', ng-click="toggleDiffs()", ng-hide="diffsVisible") Show diffs
      button(class='btn btn-default', ng-click="toggleDiffs()", ng-show="diffsVisible") Hide Diffs
  div(class='row' ng-show="pastCutOff")
    div
      h2(class="alert alert-danger") It's after the cut off!
  div(class='row')
    div(class='col-sm-2') Tickets in release: {{release.tickets.length}}
    div(class='col-sm-3')
      button(ng-click='openTicketModal()', class='btn btn-xs btn-default') Add Ticket
  br
  div(class='row panel panel-default', ng-repeat='ticket in release.tickets')
    div(class='panel-heading')
      div(class='row')
        div(
            class='col-sm-1',
            ng-class='{"text-muted": isTicketReleased(ticket)}'
        )
          a(href='http://phab.dev.ebuyer.com/{{ticket.ticketId}}') {{ticket.ticketId}}
        div(
          class='col-sm-1',
          ng-class='{"text-muted": isTicketReleased(ticket)}'
        ) Diffs - {{ticket.diffs.length}}
        div(
          class='col-sm-1',
          ng-class='{"text-muted": isTicketReleased(ticket)}'
        ) {{ticket.devName}}
        div(
          class='col-sm-5',
          ng-class='{"text-muted": isTicketReleased(ticket)}',
          title='Added {{ ticket.created | date:"EEEE, MMMM d yyyy HH:mm:ss" }}'
        ) &nbsp;{{ticket.description.dev}}
        div(
          class='col-sm-1',
          ng-class='{"text-muted": isTicketReleased(ticket)}'
        ) &nbsp;{{ticket.owner}}
        div(class='col-sm-1 col-sm-offset-1')
          button(
            ng-hide='isTicketReleased(ticket)',
            class='btn btn-xs btn-warning',
            ng-click='openRemoveTicketModal(ticket)'
          ) Remove {{ ticket.ticketId }}
      div(class='row')
        div(class='col-sm-3 col-sm-offset-1')
          span(ng-show='ticket.description.business') {{ticket.description.business}}
    div(class='panel-body', ng-show='diffsVisible')
      div(class='row diff-row', ng-repeat='diff in ticket.diffs')
        div(class='col-sm-1', ng-if='$first') Diffs
        div(class='col-sm-1', ng-if='$first')
          button(ng-click='openDiffModal(ticket)', class='btn btn-xs btn-default') Add Diff
        div(class='col-sm-1', ng-class="{'col-sm-offset-2': !$first, 'text-muted': diff.released}")
          span(
            ng-show='diff.repoName',
            title='Added {{ diff.created | date:"EEEE, MMMM d yyyy HH:mm:ss" }}'
          ) {{diff.repoName}}
        div(class='col-sm-2', ng-class='{"text-muted": diff.released}')
          a(href='http://phab.dev.ebuyer.com/{{diff.diffId}}') {{diff.diffId}}
        div(class='col-sm-2', ng-class='{"text-success": diff.released && !diff.rolledBack}')
          span(ng-show='diff.released && !diff.rolledBack')
            | Released &nbsp;
            span(class='glyphicon glyphicon-ok')
          span(
            ng-show='diff.released && diff.rolledBack',
            ng-class='{"text-danger": diff.rolledBack}'
          )
            | Rolledback &nbsp;
            span(class='glyphicon glyphicon-remove')
          button(
            ng-show='!diff.released',
            class='btn btn-xs btn-default',
            ng-click='diffReleased(diff)'
          ) Release
        div(class='col-sm-2', ng-class='{"text-muted": diff.released}')
          button(
            ng-show='diff.released && !diff.rolledBack',
            class='btn btn-xs btn-danger',
            ng-click='diffRolledback(diff)'
          ) Rollback?
          button(
            ng-hide='diff.released',
            class='btn btn-xs btn-warning',
            ng-click='openRemoveDiffModal(ticket, diff)'
          ) Remove {{ diff.diffId }}
        div(class='col-sm-1')
          div(class="dropdown" ng-show="diff.requirements")
            button(
              class="btn btn-default dropdown-toggle"
              type="button"
              data-toggle="dropdown"
            ) Requirements
            ul(class="dropdown-menu")
              li(ng-show="diff.requirements.supportStaff")
                a(href="#")
                  label Support staff:
                  | &nbsp;
                  | {{diff.requirements.supportStaff}}
              li(ng-show="diff.requirements.timeConstraints")
                a(href="#")
                  label Time constraints:
                  | &nbsp;
                  | {{diff.requirements.timeConstraints}}
              li(ng-show="diff.requirements.dbaRequired")
                a(href="#")
                  label DBA Required
              li(ng-show="diff.requirements.sysadminRequired")
                a(href="#")
                  label Sysadmin Required
              li(ng-show="diff.requirements.commsRequired")
                a(href="#")
                  label Comms Required
              li(ng-show="diff.requirements.productionConfigs")
                a(href="#")
                  label Production Hiera Configs
              li(ng-show="diff.requirements.unstageable")
                a(href="#")
                  label Not testable in staging
              li(ng-show="diff.requirements.notifyOps")
                a(href="#")
                  label Notify Ops
              li(ng-show="diff.requirements.akamaiClearCache")
                a(href="#")
                  label Requires Akamai cache clearing
      div(class='row', ng-show='!ticket.diffs.length')
        div(class='col-sm-1') Diffs
        div(class='col-sm-1')
          button(ng-click='openDiffModal(ticket)', class='btn btn-xs btn-default') Add Diff
div(ng-hide="release")
  h1 This release doesn't exist
